<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="revisit-after" content="7 days" />
  <meta name="msapplication-TileColor" content="#70A2F9" />
  <meta name="theme-color" content="#70A2F9" />
  <link rel="shortcut icon" type="image/png" href="/favicon.ico" />
  <meta
    name="google-site-verification"
    content="aQGwzERAwYPzppAe9aeRdCSTjUs7QHKqP9VTAcL7K2Q"
  />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <link rel="stylesheet" href="/tailwind_css/tw.css" />
  <link rel="stylesheet" href="/assets/css/basics.css" />
  <meta name="twitter:data1" content="Read Time" />
  <meta name="twitter:label1" content="{% include readTime.html %}" />
  {% feed_meta %} 
  {% json_feed_meta %} 
  {% seo %}
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.description }}" />
  {% if page.layout == "splash" %}
  <script type="text/javascript" src="/assets/js/splash.js"></script>
  {% endif %}
  {% if page.layout == 'about' %}
  <script type="text/javascript" src="/assets/js/about.js"></script>
  {% endif %}
  {% if page.tags[0] == "Trivia" %}
  <script type="text/javascript" src="/assets/js/quiz/confetti.js"></script>
  <script type="text/javascript" src="/assets/js/quiz/quiz.js"></script>
  {% endif %}
  <script type="text/javascript" src="/assets/js/base.js"></script>
</head>
