<div class="flex justify-between items-center border-b-2 border-gray-100 py-6 md:justify-start md:space-x-10">
    <div class="flex justify-start lg:w-0 lg:flex-1">
        <a class="text-gray-700 font-mono" href="#">
            arc4random_uniform(45)
        </a>
    </div>
    <nav class="hidden md:flex items-end space-x-10">
        <a href="#" class="text-base font-semibold text-gray-700 hover:text-gray-900">
            Indies
        </a>
        <a href="#" class="text-base font-semibold text-gray-700 hover:text-gray-900">
            Technical
        </a>
        <a href="#" class="text-base font-semibold text-gray-700 hover:text-gray-900">
            Snips
        </a>
        <a href="#" class="text-base font-semibold text-gray-700 hover:text-gray-900">
            A.M.A.
        </a>
        <a href="#" class="text-base font-semibold text-gray-700 hover:text-gray-900">
            Pretty Things
        </a>
        <a href="#" class="text-base font-semibold text-gray-700 hover:text-gray-900">
            Archive
        </a>
        <a href="#" class="text-base font-semibold text-gray-700 hover:text-gray-900">
            About
        </a>
    </nav>
</div>