<div class="mt-2 flex justify-between items-center border-b-2 border-gray-100 py-4 md:justify-start md:space-x-10">
    <div class="flex flex-row items-center justify-start lg:w-0 lg:flex-1">
        {% if page.layout != 'splash' %}
        <a title="The Home Button" href="/index.html" class="text-gray-700 dark:text-blue-200 mr-4 hover:text-blue-500">
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path
                    d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
            </svg>
        </a>
        {% endif %}
        <button title="Roll the dice" class="text-gray-700 font-mono dark:text-gray-200 hover:text-blue-500" onclick="randomPost();">
            arc4random_uniform({{ include.count }})
        </button>
    </div>
    <nav class="hidden md:flex items-end space-x-10">
        <a href="#" class="text-base font-semibold text-gray-700 hover:text-blue-500">
            Indies
        </a>
        <a href="#" class="text-base font-semibold text-gray-700 hover:text-blue-500 dark:text-gray-200">
            Technical
        </a>
        <a href="#" class="text-base font-semibold text-gray-700 hover:text-blue-500 dark:text-gray-200">
            Snips
        </a>
        <a href="#" class="text-base font-semibold text-gray-700 hover:text-blue-500 dark:text-gray-200">
            A.M.A.
        </a>
        <a href="#" class="text-base font-semibold text-gray-700 hover:text-blue-500 dark:text-gray-200">
            Pretty Things
        </a>
        <a href="/allPosts.html" class="text-base font-semibold text-gray-700 hover:text-blue-500 dark:text-gray-200">
            Archive
        </a>
        <a href="#" class="text-base font-semibold text-gray-700 hover:text-blue-500 dark:text-gray-200">
            About
        </a>
    </nav>
</div>