<div class="mt-2 flex justify-between items-center border-b-2 border-gray-100 py-4 md:justify-start md:space-x-10">
    <div class="flex flex-row items-center justify-start lg:w-0 lg:flex-1">
        {% if page.layout != 'splash' %}
        <a title="The Home Button" href="/index.html" class="text-gray-700 dark:text-blue-200 mr-4 hover:text-blue-500">
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path
                    d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
            </svg>
        </a>
        {% endif %}
        <button title="Roll the dice" class="text-gray-700 font-mono dark:text-gray-200 hover:text-blue-500" onclick="randomPost();">
            arc4random_uniform({{ include.count }})
        </button>
    </div>
    <nav id="navigation" class="hidden md:flex items-center">
        <a href="/indiedev.html" class="flex-none text-base font-semibold hover:text-white dark:text-gray-200">
            <div id="indiedev" class="navDiv rounded-md px-4 py-2 hover:bg-blue-400 hover:bg-opacity-60">
                Indies
            </div>
        </a>
        <a href="/tuts.html" class="flex-none text-base font-semibold hover:text-white dark:text-gray-200">
            <div id="tuts" class="navDiv rounded-md px-4 py-2 hover:bg-blue-400 hover:bg-opacity-60">
                Technical
            </div>
        </a>
        <a href="/snips.html" class="flex-none text-base font-semibold hover:text-white dark:text-gray-200">
            <div id="snips" class="navDiv rounded-md px-4 py-2 hover:bg-blue-400 hover:bg-opacity-60">
                Snips
            </div>
        </a>
        <a href="/ama.html" class="flex-none text-base font-semibold hover:text-white dark:text-gray-200">
            <div id="ama" class="navDiv rounded-md px-4 py-2 hover:bg-blue-400 hover:bg-opacity-60">
                A.M.A.
            </div>
        </a>
        <a href="/prettythings.html" class="flex-none text-base font-semibold hover:text-white dark:text-gray-200">
            <div id="prettythings" class="navDiv rounded-md px-4 py-2 hover:bg-blue-400 hover:bg-opacity-60">
                Pretty Things
            </div>
        </a>
        <a href="/allPosts.html" class="flex-none text-base font-semibold hover:text-white dark:text-gray-200">
            <div id="allPosts" class="navDi rounded-md px-4 py-2 hover:bg-blue-400 hover:bg-opacity-60">
                Archive
            </div>
        </a>
        <a href="/about.html" class="flex-none text-base font-semibold hover:text-white dark:text-gray-200">
            <div id="about" class="navDiv rounded-md px-4 py-2 hover:bg-blue-400 hover:bg-opacity-60">
                About
            </div>
        </a>
    </nav>
</div>