<section class="bg-indigo-50 border-l-8 border-blue-500 text-gray-800 rounded-md my-10 dark:bg-gray-600 dark:border-blue-700">
    <div class="px-5 font-mono">
        <p class="pt-4"><span class="text-purple-600 dark:text-purple-900">let</span> concatenatedThoughts = <span class="text-red-600">"""</span></p>
        <p class="text-gray-600 dark:text-gray-300 text-base">{{ include.text }}</p>
        <p class="pb-4 text-gray-600 text-base"><span class="text-red-600">"""</span></p>
    </div>
</section>