.bg-clip-text-webkit {
    -webkit-background-clip: text;
    background-clip: text;
}

@media (prefers-color-scheme: dark) {
    .prose strong {
        color: #F2F5F7;
    }
    
    .prose h1 {
        color: #F2F5F7;
    }
    
    .prose h2 {
        color: #F2F5F7;
    }
    
    .prose h3 {
        color: #F2F5F7;
    }
    
    .prose h4 {
        color: #F2F5F7;
    }

    .prose a {
        color: #FFFFFF;
    }
}