---
title: about
layout: default
---
<div class="prose max-w-4xl -mt-4 mx-auto sm:py-16 sm:px-6 lg:px-8">
  <div class="prose-2xl">
    {{ content }}
  </div>
  <!-- FAQ -->
  <div class="max-w-4xl mx-auto divide-y-2 divide-gray-200">
    <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
      F.A.Q.
    </h2>
    <dl class="mt-6 space-y-6 divide-y divide-gray-200">
      <div class="pt-6">
        <dt class="text-lg">
          <!-- Expand/collapse question button -->
          <button class="text-left w-full flex justify-between items-start text-gray-400">
            <span class="font-medium text-gray-900">
              What indie things have you done?
            </span>
            <span class="ml-6 h-7 flex items-center">
              <!--
                  Heroicon name: chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
              <svg class="-rotate-180 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </span>
          </button>
        </dt>
        <dd class="mt-2 pr-12">
          <p class="text-base text-gray-500">
            I created Spend Stack, a personal finance app that is based on simple lists instead of complex spread
            sheets. I took two attempts at it over the span on
            seven years. Finally, I figured it out and it was a success - eventually being featured in Apple stores, the
            App Store and more. It was acquired in December 2020.
          </p>
        </dd>
      </div>

      <div class="pt-6">
        <dt class="text-lg">
          <!-- Expand/collapse question button -->
          <button class="text-left w-full flex justify-between items-start text-gray-400">
            <span class="font-medium text-gray-900">
              Where else have I seen your work?
            </span>
            <span class="ml-6 h-7 flex items-center">
              <!--
                  Heroicon name: chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
              <svg class="-rotate-180 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </span>
          </button>
        </dt>
        <dd class="mt-2 pr-12">
          <p class="text-base text-gray-500">
            It might be from a few different places:
          </p>
          <h4>Conferences and Podcasts</h4>
          <ul>
            {% for item in site.data.myWork.talks %}
            <li><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
          <h4>Books</h4>
          <ul>
            {% for item in site.data.myWork.books %}
            <li><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></li>
            {% endfor %}
          </ul>

          <h4>Awards and Honors</h4>
          <ul>
            {% for item in site.data.myWork.honors %}
            <li><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></li>
            {% endfor %}
          </ul>

          <h4>Interviews</h4>
          <ul>
            {% for item in site.data.myWork.interviews %}
            <li><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></li>
            {% endfor %}
          </ul>

          <h4>Other Places I've Written For</h4>
          <ul>
            {% for item in site.data.myWork.articles %}
            <li><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></li>
            {% endfor %}
          </ul>
        </dd>
      </div>

      <div class="pt-6">
        <dt class="text-lg">
          <!-- Expand/collapse question button -->
          <button class="text-left w-full flex justify-between items-start text-gray-400">
            <span class="font-medium text-gray-900">
             Ummm....<pre class="inline mx-3">arc4random_uniform()</pre>?
            </span>
            <span class="ml-6 h-7 flex items-center">
              <!--
                  Heroicon name: chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
              <svg class="-rotate-180 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </span>
          </button>
        </dt>
        <dd class="mt-2 pr-12">
          <p class="text-base text-gray-500">
            It's a random post button! If you started with Swift in your iOS journey, then this might look a little forgeign. For years, it was my go-to in
            Objective-C to generate a random number. It's quite nifty, passing you a random value based on the upper bound you pass it and eliminates modulo bias.
          </p>
        </dd>
      </div>

      <div class="pt-6">
        <dt class="text-lg">
          <!-- Expand/collapse question button -->
          <button class="text-left w-full flex justify-between items-start text-gray-400">
            <span class="font-medium text-gray-900">
              What does this site run on, did you use a theme?
            </span>
            <span class="ml-6 h-7 flex items-center">
              <!--
                  Heroicon name: chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
              <svg class="-rotate-180 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </span>
          </button>
        </dt>
        <dd class="mt-2 pr-12">
          <p class="text-base text-gray-500">
            I created this site from scratch using the incredibly helpful <a href="https://www.tailwindcss.com">Tailwind CSS</a>. Tech wise, it runs on the following:
          </p>
          <ul>
            <li><a href="https://jekyllrb.com">Jekyll</a>, a robust static site generator, is used to manage and create Swiftjective-C. It uses no existing theme and is rolled from scratch.</li>
            <li><a href="https://code.visualstudio.com">Visual Studio Code</a> is my text editor of choice for web development.</li>
            <li><a href="https://kramdown.gettalong.org">Kramdown</a> is used for authoring each article.</li>
            <li><a href="https://www.netlify.com">Netlify</a> handles domain management and all deployment of its source code. Without it, I'm not sure this site would exist. It's easily the most intuitive way I've found to get a website up and rolling.</li>
            <li><a href="https://www.github.com">Github</a> is used for source control, and each article and the entire <a href="https://github.com/DreamingInBinary/Swiftjective-C">source code for this site</a> is available there for collaboration and learning purposes. It's free to use and to change however you wish.</li>
          </ul>
        </dd>
      </div>

      <div class="pt-6">
        <dt class="text-lg">
          <!-- Expand/collapse question button -->
          <button class="text-left w-full flex justify-between items-start text-gray-400">
            <span class="font-medium text-gray-900">
              Who are you outside of work?
            </span>
            <span class="ml-6 h-7 flex items-center">
              <!--
                  Heroicon name: chevron-down

                  Open: "-rotate-180", Closed: "rotate-0"
                -->
              <svg class="-rotate-180 h-6 w-6 transform" xmlns="http://www.w3.org/2000/svg" fill="none"
                viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </span>
          </button>
        </dt>
        <dd class="mt-2 pr-12">
          <p class="text-base text-gray-500">
            My highest accomplishment is marrying up (like, <i>waaaaaay</i> up) to my <a href="https://www.instagram.com/jmorgan">gorgeous wife</a> and having our three kids. I have two boys, Bennett and Remy, along with
            my lovely daughter, Baylor. I tweet about my family all the time. Aside from programming, my other hobbides include video games and basketball.
          </p>
        </dd>
      </div>
    </dl>
  </div>
</div>