---
layout: default
title: A Best-in-Class App - The Book
permalink: /bestinclassbook
---

<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}

<style>
  #funHeader {
    background: linear-gradient(-45deg, #147ce5, #0a5c75, #94d2e9, #220a64);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    -webkit-background-clip: text;
    background-clip: text;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
</style>
<div class="sm:w-full md:mx-auto md:w-9/12">
  <h1 class="text-center text-5xl mt-16 md:mt-8 md:text-7xl font-bold">A Best-in-Class<br />iOS App</h1>
  <h2 class="mt-4 mb-10 text-center text-2xl md:text-4xl font-bold text-gray-700">The <span id="funHeader"
      class="text-transparent">Complete</span> Book Series</h2>
  <div class="mt-5 w-full flex justify-center md:mt-8">
    <a href="https://bestinclassiosapp.com" class="mx-auto rounded-md bg-blue-500 text-white px-4 py-3 font-medium hover:bg-blue-700">Buy</a>
    <button onclick="ml_account('webforms', '4132540', 'a6w7n0', 'show')"
      class="mx-auto font-small hover:bg-blue-700">Join Mailing List</button>
  </div>
</div>

<!-- MailerLite Universal -->
<script>
  (function (m, a, i, l, e, r) {
    m['MailerLiteObject'] = e; function f() {
      var c = { a: arguments, q: [] }; var r = this.push(c); return "number" != typeof r ? r : f.bind(c.q);
    }
    f.q = f.q || []; m[e] = m[e] || f.bind(f.q); m[e].q = m[e].q || f.q; r = a.createElement(i);
    var _ = a.getElementsByTagName(i)[0]; r.async = 1; r.src = l + '?v' + (~~(new Date().getTime() / 1000000));
    _.parentNode.insertBefore(r, _);
  })(window, document, 'script', 'https://static.mailerlite.com/js/universal.js', 'ml');

  var ml_account = ml('accounts', '3170860', 'x0d8s4w3z7', 'load');
</script>
<!-- End MailerLite Universal -->