---
title: default
permalink: /
---
<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}
{% assign sorted = site.posts | sort: "date" | reverse %}
{% assign post = site.posts | first %}
<body">
  <div class="relative bg-white">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      {% include navigation.html %}
      <div class="flex flex-row">
        <div class="w-3/12">
          <div>
            <p>Indie Add</p>
            <small>Show off your indie app!</small>
          </div>
          {% include coffeeTime.html %}
        </div>
        <div class="w-9/12">
          <div class="prose prose-blue prose-xl">
            <h2>{{ post.title }}</h2>
            <p>{{ post.description }}</p>
            {{ post.content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>

</html>