---
title: default
permalink: /
---
<!DOCTYPE html>
<html lang="en-US">
{% include head.html %}
{% assign postCount = site.posts | size %}
{% assign popular = site.posts | where: "special", "true" | slice:0,4 %}

<body class="bg-white dark:bg-gray-700">
  <div class="relative">
    <div class="max-w-7xl mx-auto px-4 sm:px-6">
      {% include navigation.html count=postCount %}
      <div class="flex flex-row">
        <!-- Sidebar -->
        <div class="w-3/12 mt-10 space-y-2">
          <!-- Search -->
          <div class="flex w-9/12 mt-3">
            <label for="search" class="sr-only">Search</label>
            <div class="relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                  fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd"
                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                    clip-rule="evenodd" />
                </svg>
              </div>
              <input id="search" name="search"
                class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:ring-1 focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
                placeholder="Search" type="search">
            </div>
          </div>
          <!-- Greatest Hits -->
          <div class="pt-4">
            <span class="font-semibold pt-10">Greatest Hits</span>
            {% for popPost in popular %}
            <div class="flex flex-row space-x-2">
              <svg class="h-6 w-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
              <a href="{{ popPost.url | prepend: site.baseurl}}" class="hover:text-blue-500 border-blue-500 cursor-pointer">{{ popPost.prettyTitle }}</a>
            </div>
            {% endfor %}
          </div>
          <!-- Reach Out -->
          <div class="pt-4">
            <span class="font-semibold pt-10">Comms</span>
            <div class="flex flex-row space-x-2">
              <svg class="h-6 w-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
              <a href="/feed.xml" class="hover:text-blue-500 border-blue-500 cursor-pointer">RSS</a>
            </div>
            <div class="flex flex-row space-x-2">
              <svg class="h-6 w-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
              {% include contactObs.html %}
            </div>
            <div class="flex flex-row space-x-2">
              <svg class="h-6 w-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
              <a href="https://swiftjectivec.us20.list-manage.com/subscribe/post?u=86763e3ce1da1fa79f8079a24&amp;id=b5d1e5e3bc" class="hover:text-blue-500 border-blue-500 cursor-pointer">Mailing List</a>
            </div>
            <div class="flex flex-row space-x-2">
              <svg class="h-6 w-6 text-blue-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
                  clip-rule="evenodd" />
              </svg>
              <a href="https://github.com/issues" class="hover:text-blue-500 border-blue-500 cursor-pointer">Report an Issue</a>
            </div>
          </div>
          <!-- Coffee -->
          <div class="pt-4">
            <a href="https://www.buymeacoffee.com/jordanmorgan" class="inline-flex items-center px-3 py-2 rounded-full text-xs font-semibold bg-yellow-100 text-gray-800">
              {% include coffeeTimeSmall.html %} <span class="pl-2">Buy me a coffee</span>
            </a>
          </div>
        </div>
        <!-- Content -->
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </div>
</body>

</html>