---
title: og
---
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-site-verification" content="aQGwzERAwYPzppAe9aeRdCSTjUs7QHKqP9VTAcL7K2Q" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="/tailwind_css/tw.css" />
</head>
<body>
    {{ content }}
</body>
<script>
    const params = new URLSearchParams(window.location.search)
    
    if (params.get("title") != null) {
        document.getElementById("title").innerText = params.get("title");
    }

    if (params.get("abstract") != null) {
        document.getElementById("abstract").innerText = params.get("abstract");
    }

    if (params.get("framework") != null) {
        document.getElementById("framework").innerText = params.get("framework");
    }

    if (params.get("type") != null) {
        document.getElementById("type").innerText = params.get("type");
    }

    if (params.get("blurb") != null) {
        document.getElementById("blurb").innerText = params.get("blurb");
    } else {
        const blurbArray = ["Why not grab a coffee and dive into a code sample?",
                        "It's a beautiful day to pick apart a code sample.",
                        "Time to enjoy some Swift over lunch!",
                        "It's code sample time!",
                        "Why not fire up your runloops with some good ol' code samples this afternoon?"];
        const randomBlurb = blurbArray[Math.floor(Math.random()*items.length)];
        document.getElementById("blurb").innerText = randomBlurb;
    }

</script>
</html>